<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

   <dubbo:application name="${dubbo.application.name}"/>
   <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" check="true"/>
   <dubbo:reference interface="com.javens.api.RpcTestService" id="rpcTestService" check="false"/>
    <dubbo:reference interface="com.javens.api.RpcClusterFailoverService" id="rpcClusterFailoverService" check="false" retries="4"/>
    <dubbo:reference interface="com.javens.api.RpcClusterBroadcastService" id="rpcClusterBroadcastService" check="false" retries="4"/>

    <dubbo:reference interface="com.javens.api.RpcMultiService" id="rpcMultiService1" check="false" group="hello1" cluster="failover"/>
    <dubbo:reference interface="com.javens.api.RpcMultiService" id="rpcMultiService2" check="false" group="hello2"/>

</beans>